body {
    background-color: #303030;
    overflow: hidden;
    user-select: none;
    text-align: center;
}

span {
    color: #47919e;
    display: block;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 99;
}

.score {
    display: inline-block;
    float: left;
    border: 1px solid #18d651;
    padding: 5px;
    width: 140px;
}

.purchase-generator-button {
    display: inline-block;
    float: center;
    padding: 5px;
    margin-right: 152px;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #18d651;
}

.purchase-generator-button span {
    display: inline-block;
}

.purchase-generator-text-label {
    font-size: 26px;
}

.purchase-generator-text-index {
    font-size: 12px;
}

.purchase-generator-cost {
    display: inherit;
}

#score-first {
    font-size: 16px;
}

#score-last {
    font-size: 16px;
    margin-top: 10px;
}

#score-first-number {
    font-size: 20px;
    display: inline-block;
}

#score-last-number {
    font-size: 20px;
    display: inline-block;
}
